<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.zzw.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapping/UserMapper.xml"/>
        <mapper resource="mapping/BookMapper.xml"/>
    </mappers>
</configuration>