<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
</head>

<body>
<div class="x-body">
    <form class="layui-form" method="post" th:action="@{/readerUser/pwdModify}">
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                昵称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="username" disabled="" th:value="${session.user.uname}" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_oldPass" class="layui-form-label">
                <span class="x-red">*</span>旧密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_oldPass" name="oldPassword" lay-verify="oldPassword"
                       required="required" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_pass" name="newPassword" lay-verify="newPass"
                       required="required" autocomplete="off" class="layui-input"/>
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_repass" name="repass" lay-verify="rePass"
                       required="required" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="save" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
<script>

    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;
        //自定义验证规则
        /*<![CDATA[*/
        form.verify({
            newPass: [/(.+){6,12}$/, '密码必须6到12位']
            , rePass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });
        /*]]>*/

        //监听提交
        form.on('submit(save)', function (data) {
            $.ajax({
                url: data.form.action,
                type: data.form.method,
                data: $(data.form).serialize(),
                success: function (info) {
                    if(info=="oldFalse"){
                        layer.msg("旧密码输入错误！");
                    }else if(info=="repetition"){
                        layer.msg("新密码不能与旧密码重复！")
                    } else if(info=="success"){
                        layer.msg("密码修改成功！三秒后跳转页面");
                        window.setTimeout("window.parent.location.href='/loginPage/login.html'", 3000);
                    } else {
                        layer.msg("密码修改失败！");
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
<script th:src="@{/js/fuqiang.js}" charset="utf-8"></script>
</html>